/* ------variables---------- */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #4c84ff;
  --dark: #000000;
  --textPrimary: rgba(255, 255, 255, 0.919);
  --textSecondary: rgb(238, 220, 220);
}

/* ---------resetdefault--------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

a {
  color: white;
}

a:hover {
  opacity: 0.7;
}
/* --------utility classes -------------- */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

/* -------custom styles--------------- */
.container {
  max-width: 700px;
  margin: 0 1rem;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.213), rgba(0, 0, 0, 0.227)),
    url(../images/homepage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.social-navs {
  position: fixed;
  color: white;
  right: 50%;
  top: 10px;
  z-index: 10;
}

.social-navs ul li {
  list-style-type: none;
  margin-left: 10px;
  cursor: pointer;
}

.social-navs ul {
  display: flex;
  justify-content: center;
}

.navbar {
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  right: -10rem;
}

.navbar a {
  color: var(--textPrimary);
  font-weight: bold;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 0.4rem;
}

.navbar a:hover {
  opacity: 90%;
  border: 2px solid var(--primary);
}

.active {
  border: 2px solid var(--primary);
}

.home-section {
  color: white;
  position: absolute;
  top: 30%;
  left: 10%;
  max-width: 35%;
}

.hello-text {
  background: var(--primary);
  padding: 5px 10px;
  font-weight: bold;
}

.name {
  font-family: "Josefin Sans", sans-serif;
  margin: 20px 0;
  font-size: 36px;
}

.name span {
  color: var(--primary);
}

.work {
  font-family: "Josefin Sans", sans-serif;
  font-size: 21px;
}

.work span {
  font-weight: bold;
}

.description {
  font-size: 16px;
  line-height: 26px;
  margin: 10px 0;
  text-align: left;
}

.portfolio-btn {
  padding: 10px 25px;
  margin-top: 10px;
  border: none;
  outline: none;
  background-color: var(--primary);
  color: var(--textPrimary);
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
}

.portfolio-btn span {
  margin-left: 10px;
}

.portfolio-btn:hover {
  opacity: 90%;
}

/* secondsection */

.second-section {
  position: absolute;
  top: 50px;
  left: 60px;
  right: 120px;
  bottom: 0;
  background-color: rgba(22, 22, 22, 0.96);
  height: 90vh;
  color: var(--textPrimary);
  border-radius: 15px;
}

.second-section-wrapper {
  min-width: 100%;
  height: 100%;
  overflow-x: auto;
}

.second-section-wrapper section {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

.second-section-wrapper section .title {
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  margin: 30px;
  font-size: 25px;
}

/* line below title part */
.second-section-wrapper section .title::after {
  content: "";
  position: absolute;
  left: 42px;
  top: 30px;
  border-radius: 20%;
  height: 5px;
  width: 70px;
  background-color: var(--primary);
}

/* education contents */

.edcards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* .education-content p {
  margin-bottom: 60px;
} */

.ed-content {
  min-height: 200px;
  max-width: 600px;
  padding: 15px 15px 0 15px;
  margin-top: 20px;
  background-color: #1f1e1e;
  border-radius: 20px;
}

.icon-image {
  background-color: var(--primary);
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.icon-image i {
  position: absolute;
  top: 30%;
  left: 33%;
  font-size: 15px;
}

.icon-image::after {
  content: "";
  position: absolute;
  background-color: white;
  min-height: 120px;
  width: 2px;
  top: 40px;
  left: 18px;
}

.left-part {
  text-align: left;
  margin: 10px 20px;
}

.year {
  background-color: var(--dark);
  padding: 0 10px;
  border-radius: 20px;
  font-size: 10px;
}

.collage-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.ed-description {
  font-size: 12px;
  text-align: start;
  line-height: 16px;
  color: var(--textSecondary);
}

/* Projects page design */

.project-content {
  min-height: 200px;
  min-width: 300px;
  padding: 5px;
  margin-top: 20px;
  transition: transform 0.4s ease-in-out;
  position: relative;
}

.project-content img {
  height: 200px;
  width: 300px;
  object-fit: fill;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #fcf8f8;
}

.project-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-content:hover {
  transform: scale(1.1);
}

.project-details {
  display: none;
}

.project-details {
  padding: 10px;
  background-color: var(--primary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  align-items: center;
  border-radius: 10px;
}

.working {
  color: red;
}

.not-working {
  color: green;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.project-description {
  font-size: 12px;
  margin: 10px;
}

.project-status {
  background-color: white;
  padding: 2px 15px;
  font-size: 10px;
  border-radius: 50px;
}
